.features {
  background-color: var(--bg);
  width: 100%;
}
.title {
    padding-top: 86px;
display: flex;
flex-direction: column;
align-items: center;
  color: #fff;
}
.title h1 {
  font-size: 60px;
  font-weight: medium;
}
.title p {
  padding-top: 30px;
  padding-bottom: 108px;
  color: #99a1af;
}
.features-box{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.ft-box {
  color: #fff;
  border: 1px solid #1e2939;
  border-radius: 16px;
  width: 390px;
  height: 250px;
  background-color: var(--box2);
}
.icon{
    padding-top: 33px;
    padding-left: 33px;
}
.ft-box-txt h3{
    padding: 12px 33px;
}
.ft-box-txt p{
    padding: 12px 33px;
}
.partner{
    color: #fff;
    display: flex;
    padding-top: 96px;
}
.partner img{
    width: 600px;
    height: 300px;
    padding-right: 52px;
    padding-bottom: 100px;
}
.partner-txt{
    display: flex;
    flex-direction: column;
}
.partner-txt-title{
    font-size: 36px;
    font-weight: medium;
}
.feature-item{
    display: flex;
    gap:16px;
}
/* 번호 뱃지 */
    .badge {
      min-width: 44px;
      height: 44px;
      border-radius: 50%;
      background: var(--bedge);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--blue);
      font-weight: 700;
      font-size: 1rem;
      flex-shrink: 0;
    }

    /* 텍스트 */
    .feature-text h3 {
      color: #fff;
      font-weight: medium;
      font-size: 20px;
      margin-bottom: 6px;
    }

    .feature-text p {
      color: #99A1AF;
      font-size: 16px;
      line-height: 1.6;
    }