/* ===== BASE: 360px (모바일 우선) ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  z-index: 9;
  padding: 0 3%;
  background-color: transparent;
  transition: all 0.3s;
}
header.scrolled {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.logo {
  font-weight: bold;
  font-size: 16px;
}
.logo a {
  color: #ffffff;
}
.header-menu {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
}
.header-menu a {
  font-weight: medium;
  font-size: 11px;
  color: #fff;
}
.header-btn {
  text-align: center;
  align-items: center;
  font-weight: medium;
  font-size: 11px;
  background-color: var(--btn);
  width: 58px;
  line-height: 26px;
  border-radius: 33px;
  color: #fff;
}

/* ========== 480px ========== */
@media (min-width: 480px) {
  .header {
    height: 56px;
    padding: 0 3%;
  }
  .logo a {
    font-size: 18px;
  }
  .header-menu {
    gap: 10px;
  }
  .header-menu a {
    font-size: 12px;
  }
  .header-btn {
    font-size: 12px;
    width: 64px;
    line-height: 28px;
  }
}

/* ========== 768px ========== */
@media (min-width: 768px) {
  .header {
    height: 64px;
    padding: 0 4%;
  }
  .logo a {
    font-size: 20px;
  }
  .header-menu {
    gap: 16px;
  }
  .header-menu a {
    font-size: 14px;
  }
  .header-btn {
    font-size: 13px;
    width: 72px;
    line-height: 30px;
  }
}

/* ========== 1280px ========== */
@media (min-width: 1280px) {
  .header {
    height: 80px;
    padding: 0 5%;
  }
  .logo a {
    font-size: 24px;
  }
  .header-menu {
    gap: 35px;
  }
  .header-menu a {
    font-size: 16px;
  }
  .header-btn {
    font-size: 16px;
    width: 80px;
    line-height: 32px;
  }
}
