@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("header.css");
@import url("visual.css");
@import url("features.css");
@import url("mode.css");
@import url("watch.css");
@import url("spec.css");
@import url("last.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.wrap {
  font-family: "Inter", sans-serif;
}

/* BASE: 360px */
.inner {
  width: 100%;
  padding: 0 12px;
  margin: auto;
}

:root {
  --blue: rgba(81, 162, 255, 1);
  --bg: rgba(12, 19, 33, 1);
  --btn: rgba(43, 127, 255, 1);
  --box: rgba(14, 22, 37, 1);
  --box2: rgba(40, 51, 75, 0.5);
  --purple: rgba(194, 122, 255, 1);
  --green: rgba(5, 223, 114, 1);
  --new-btn: rgba(43, 127, 255, 0.2);
  --bedge: rgba(43, 127, 255, 0.2);
  --green-txt: rgba(123, 241, 168, 1);
  --green-bg: rgba(0, 201, 80, 0.2);
  --green-border: rgba(5, 223, 114, 0.3);
  --purple-bg: rgba(173, 70, 255, 0.2);
  --purple-border: rgba(194, 122, 255, 0.3);
  --purple: rgba(218, 178, 255, 1);
  --watch-box: rgba(16, 24, 40, 0.5);
}

.blue-txt {
  color: var(--blue) !important;
}
.purple {
  color: var(--purple) !important;
}

/* 480px */
@media (min-width: 480px) {
  .inner {
    padding: 0 16px;
  }
}

/* 768px */
@media (min-width: 768px) {
  .inner {
    padding: 0 20px;
  }
}

/* 1280px */
@media (min-width: 1280px) {
  .inner {
    width: 95%;
    max-width: 1420px;
    padding: 0;
  }
}
