
.spec {
  background: linear-gradient(#1a2c50 0%, #1f3f80 100%);
}
.spec-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 12px 28px;
  color: #99a1af;
  font-size: 13px;
  text-align: center;
}
.spec-txt {
  padding-top: 28px;
  font-size: 24px;
  font-weight: medium;
  color: #fff;
}
.spec-box-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.spec-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: var(--box2);
  border-radius: 16px;
  border: 1px solid #1e2939;
}
.spec-box-txt-wrap {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spec-box-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #1e2939;
}
.spec-box-title p {
  font-size: 15px;
  padding-top: 20px;
  padding-left: 16px;
}
.spec-box-txt1 {
  font-size: 12px;
  color: #99a1af;
}
.spec-box-txt1 p {
  padding: 8px 4px;
}
.spec-box-txt2 {
  font-size: 12px;
  color: #fff;
  text-align: right;
}
.spec-box-txt2 p {
  padding: 8px 4px;
}

.basic-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 20px;
}
.spec-basic-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgba(43, 127, 255, 0.5) 0%,
    rgba(173, 70, 255, 0.1) 100%
  );
  border: 1px solid rgba(224, 237, 255, 1);
  border-radius: 16px;
}
.basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basic .blue-txt {
  font-size: 20px;
}
.basic p {
  color: #99a1af;
  font-size: 12px;
}

/* 480px */
@media (min-width: 480px) {
  .spec-txt {
    font-size: 28px;
  }
  .spec-box-title p {
    font-size: 17px;
    padding-left: 20px;
  }
  .spec-box-txt1 p,
  .spec-box-txt2 p {
    font-size: 13px;
    padding: 10px 6px;
  }
  .basic .blue-txt {
    font-size: 22px;
  }
  .basic p {
    font-size: 13px;
  }
}

/* 768px */
@media (min-width: 768px) {
  .spec-title {
    padding: 24px 16px 36px;
    font-size: 14px;
  }
  .spec-txt {
    font-size: 36px;
    padding-top: 28px;
  }
  .spec-box-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 24px;
  }
  .spec-box {
    width: 48%;
  }
  .spec-box-title p {
    font-size: 20px;
    padding-left: 28px;
  }
  .spec-box-txt-wrap {
    width: 88%;
  }
  .spec-box-txt1 p,
  .spec-box-txt2 p {
    font-size: 14px;
    padding: 12px 8px;
  }
  .spec-basic-box {
    flex-direction: row;
    height: auto;
    padding: 24px 0;
    gap: 0;
  }
  .basic .blue-txt {
    font-size: 26px;
  }
  .basic p {
    font-size: 14px;
  }
}

/* 1280px */
@media (min-width: 1280px) {
  .spec-title {
    padding: 32px 32px 60px;
    font-size: 20px;
  }
  .spec-txt {
    font-size: 60px;
    padding-top: 40px;
  }
  .spec-box-container {
    row-gap: 35px;
  }
  .spec-box {
    width: 600px;
    height: 347px;
  }
  .spec-box-txt-wrap {
    width: 534px;
  }
  .spec-box-title p {
    font-size: 24px;
    padding-top: 26px;
    padding-left: 46px;
  }
  .spec-box-txt1 p,
  .spec-box-txt2 p {
    padding: 16px;
    font-size: 16px;
  }
  .basic-container {
    margin-top: 65px;
  }
  .spec-basic-box {
    width: 1200px;
    height: 140px;
  }
  .basic .blue-txt {
    font-size: 36px;
  }
  .basic p {
    font-size: 16px;
  }
}
