.watch-color {
  background: linear-gradient(#162138 0%, #1a2c50 100%);
}
.watch-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #99a1af;
  margin-bottom: 140px;
}
.watch-txt {
  padding-top: 40px;
  color: #fff;
  font-size: 60px;
  font-weight: medium;
}
.watch-img{
   width: 538px;
  position: relative;
}
.watch-img img {
  width: 100%;
  /* display: block; */
  /* width: 538px;
  height: 475px; */
}
.w-img{
position: absolute;
top: 0;
left: 0;
display: none;
}
.w-img.active{
display: block;
}
.watch-box {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: var(--watch-box);
  width: 500px;
  height: 110px;
  border-radius: 14px;
  margin-bottom: 73px;
}
.watch-box:hover,
.watch-box.active {
  background-color: rgba(43, 127, 255, 0.1);
  border: 1px solid #2b7fff;
}
.color-black {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(135deg, #1e2939 0%, #030712 100%);
  margin-left: 44px;
}
.color-blue {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00d3f3 0%, #2b7fff 100%);
  margin-left: 44px;
}
.color-white {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffffff 0%, #cecece 100%);
  margin-left: 44px;
}
.color-txt p {
  font-size: 20px;
  font-weight: medium;
  color: #fff;
  white-space: nowrap;
}
.color-txt p:last-child {
  font-size: 14;
  font-weight: medium;
  color: #99a1af;
}
.watch {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .watch-txt {
    font-size: 36px;
  }
  .watch-title {
    margin-bottom: 40px;
  }
  .watch {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .watch-img {
    width: 280px;
    height: 248px;
  }
  .watch-choice {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  .watch-box {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 16px;
    margin-bottom: 12px;
  }
  .color-black{
    margin: 0;
  }
  .color-blue{
    margin: 0;
  }
  .color-white{
    margin: 0;
  }
}